@model Library.WebUI.Models.AdminProductAddModel
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="border-bottom">
    <h3>Thêm sách</h3>
    <h4>Vui lòng nhập thông tin sách</h4>
</div>
@using (Html.BeginForm("ProductAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(x => x.ProductName)
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        <p class="text-danger">
            @Html.ValidationMessageFor(x => x.ProductName)
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
        <p class="text-danger">
            @Html.ValidationMessageFor(x => x.Price)
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Amount)
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
        <p class="text-danger">
            @Html.ValidationMessageFor(x => x.Amount)
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryId)
        @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), new { @class = "form-control" })
        <p class="text-danger">
            @Html.ValidationMessageFor(x => x.CategoryId)
        </p>
    </div>
    <div class="form-group">
        <label>Hình ảnh</label>
        <div>
            <input type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <div>
            @Html.TextAreaFor(x=>x.Description, new { id= "editor"})
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">
        Thêm Sách
    </button>
}

@section js{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
} 